// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$green-vogue-50: #e6faff;
$green-vogue-100: #d2f4ff;
$green-vogue-200: #aee9ff;
$green-vogue-300: #7ed8ff;
$green-vogue-400: #4cb6ff;
$green-vogue-500: #2491ff;
$green-vogue-600: #0069ff;
$green-vogue-700: #006dff;
$green-vogue-800: #005bd6;
$green-vogue-900: #052b5c;
