// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black-pearl-50: #e8f5ff;
$black-pearl-100: #d5ecff;
$black-pearl-200: #b4daff;
$black-pearl-300: #87bfff;
$black-pearl-400: #5895ff;
$black-pearl-500: #326bff;
$black-pearl-600: #0f3dff;
$black-pearl-700: #0531fd;
$black-pearl-800: #082ecb;
$black-pearl-900: #050e2e;

$port-gore-50: #eff6fe;
$port-gore-100: #e2edfd;
$port-gore-200: #cbddfa;
$port-gore-300: #abc7f6;
$port-gore-400: #89a6f0;
$port-gore-500: #6c87e8;
$port-gore-600: #5063db;
$port-gore-700: #4150c1;
$port-gore-800: #37449c;
$port-gore-900: #1b2141;

$ebony-clay-50: #f5f5fa;
$ebony-clay-100: #eaebf4;
$ebony-clay-200: #d1d3e6;
$ebony-clay-300: #a8add1;
$ebony-clay-400: #7982b7;
$ebony-clay-500: #58629f;
$ebony-clay-600: #454c84;
$ebony-clay-700: #383c6c;
$ebony-clay-800: #32365a;
$ebony-clay-900: #22243a;
