// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black-pearl-50: #e8f5ff;
$black-pearl-100: #d5ecff;
$black-pearl-200: #b4daff;
$black-pearl-300: #87bfff;
$black-pearl-400: #5895ff;
$black-pearl-500: #326bff;
$black-pearl-600: #0f3dff;
$black-pearl-700: #0531fd;
$black-pearl-800: #082ecb;
$black-pearl-900: #050e2e;

$port-gore-50: #eff6fe;
$port-gore-100: #e2edfd;
$port-gore-200: #cbddfa;
$port-gore-300: #abc7f6;
$port-gore-400: #89a6f0;
$port-gore-500: #6c87e8;
$port-gore-600: #5063db;
$port-gore-700: #4150c1;
$port-gore-800: #37449c;
$port-gore-900: #1b2141;

$ebony-clay-50: #f5f5fa;
$ebony-clay-100: #eaebf4;
$ebony-clay-200: #d1d3e6;
$ebony-clay-300: #a8add1;
$ebony-clay-400: #7982b7;
$ebony-clay-500: #58629f;
$ebony-clay-600: #454c84;
$ebony-clay-700: #383c6c;
$ebony-clay-800: #32365a;
$ebony-clay-900: #22243a;

$green-vogue-50: #e6faff;
$green-vogue-100: #d2f4ff;
$green-vogue-200: #aee9ff;
$green-vogue-300: #7ed8ff;
$green-vogue-400: #4cb6ff;
$green-vogue-500: #2491ff;
$green-vogue-600: #0069ff;
$green-vogue-700: #006eff;
$green-vogue-800: #005bd6;
$green-vogue-900: #052b5c;

// extracted from the home image to have options that match

//rose pallet
$rose-50: #fff0f8;
$rose-100: #ffe3f4;
$rose-200: #ffc6e9;
$rose-300: #ff98d6;
$rose-400: #ff58b8;
$rose-500: #ff279a;
$rose-600: #ff0073;
$rose-700: #df0058;
$rose-800: #b80049;
$rose-900: #980340;

//purple pallet
$mardi-gras-50: #ede5ff;
$mardi-gras-100: #decfff;
$mardi-gras-200: #c8a9ff;
$mardi-gras-300: #ac75ff;
$mardi-gras-400: #a03fff;
$mardi-gras-500: #9f14ff;
$mardi-gras-600: #a000ff;
$mardi-gras-700: #9f00ff;
$mardi-gras-800: #8d00e3;
$mardi-gras-900: #1d002c;

//aqua pallet
$deep-cerulean-50: #eafeff;
$deep-cerulean-100: #cafbff;
$deep-cerulean-200: #9cf5ff;
$deep-cerulean-300: #58eaff;
$deep-cerulean-400: #0ed6ff;
$deep-cerulean-500: #00b9e9;
$deep-cerulean-600: #0091c3;
$deep-cerulean-700: #017aa6;
$deep-cerulean-800: #0b5d7f;
$deep-cerulean-900: #0e4d6b;

//gray pallet
$mine-shaft-50: #f7f7f7;
$mine-shaft-100: #e3e3e3;
$mine-shaft-200: #c8c8c8;
$mine-shaft-300: #a4a4a4;
$mine-shaft-400: #818181;
$mine-shaft-500: #666666;
$mine-shaft-600: #515151;
$mine-shaft-700: #434343;
$mine-shaft-800: #383838;
$mine-shaft-900: #292929;
