.contact-container {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 40px;
  }

  label {
    color: #333;
  }

  .btn-send {
    font-weight: 300;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    }
  .help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
  }

  .card{
  margin-left: 10px;
  margin-right: 10px;
  }

  .row{
    width: 100%
  }


}
