.page-container{
  // background: $mine-shaft-900;
  // background: linear-gradient(90deg, $green-vogue-900, black);
  background: $green-vogue-900;
}

.center{
  width: 100%;
  display: flex;
  justify-content: center;
}

.saber {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: $green-vogue-300;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  padding-left:50px;
  padding-right:50px;

}

.game-banner{
  position: relative;
}

.game-title{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.607);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: 'Odibee Sans', cursive;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: antiquewhite;
}


.game-wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  padding-left: 150px;
  padding-right: 150px;
  background:  rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // display: grid;
  // grid-template-columns: 0.5fr 1.2fr 1.3fr 0.5fr 1.3fr 1.2fr 0.5fr;
  // grid-template-rows: auto;
  // padding-top: 40px;
  // gap: 0px 0px;
  // grid-auto-flow: row;
  // grid-template-areas:
  //   ". game-container game-container . booking-wrapper booking-wrapper .";
  // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0)), url('https://i.pinimg.com/originals/5a/6f/fa/5a6ffa53e1874276e8f042e58510f7c5.jpg');
  // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0)), #1b2141;
}

.game-container {
  width: 100%;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 0.5fr 0.1fr 0.5fr;
  // gap: 0px 0px;
  // grid-auto-flow: row;
  // grid-template-areas:
  //   "game-information game-information"
  //   "game-links game-links "
  //   "game-reviews game-reviews";
  // grid-area: game-container;
  // border-bottom: 1px solid antiquewhite;
  padding-bottom: 20px;
}

.game-header{
  display: flex;
  justify-content: center;
  // background: $ebony-clay-800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  margin: 0;
  // border-bottom: 4px solid $green-vogue-300;
}

.game-information {
  // background: $ebony-clay-700;
  // background-image: linear-gradient(to bottom, #050e2d, black);
  // box-shadow: none 0 0 1.6em -0.6em $black-pearl-300;
  // grid-area: game-information;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  // border: 1px solid black;
  padding: 25px;
  font-size: 20px;
  font-family: 'Varela', sans-serif;
  color: antiquewhite;
  // border-bottom: 1px solid antiquewhite;
 }

.game-links {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // background: linear-gradient(to bottom, $ebony-clay-800, $ebony-clay-700);
  display: flex;
  justify-content: end;
  // justify-content: space-between;
  // align-items: bottom;
  // padding: 25px;
  // grid-area: game-links;
  // height: 5%;

  .btn{
    letter-spacing: 0.03em;
    font-weight: 600;
    font-size: 1em;
    width: 15%;
    // height: 50%;
  }

  .btn-edit{
    border-radius: 10px;
    padding: 5px;
    background: $green-vogue-400;
    color: black;
  }

  .btn-delete{
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
  }
 }

.game-extras{
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-top: 20px;
}

.game-reviews {
  width: 100%;
  // border-radius: 10px;
  // background: $ebony-clay-700;
  // background-image: linear-gradient(to bottom, #050e2d, black);
  // box-shadow: 0 0 0.5em 0.2em $ebony-clay-300;
  // border: 1px solid black;
  // border-bottom: none;
}

.reviews-header{
  display: flex;
  justify-content: center;
  // background: $ebony-clay-800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  margin: 0;
  // border-bottom: 1px solid antiquewhite;
}

.reviews{
  // background: $ebony-clay-700;
  padding: 25px;
}

.review-button{
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px;

  .btn{
    border: none;
    background: $rose-500;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 25px;
  }
}

.booking-wrapper {
  width: 100%;
}

.booking {
  border-radius: 10px;
  margin-bottom: 20px;
  // background-image: linear-gradient(to bottom, #050e2d, black);
  // box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  // box-shadow: 0 0 1.6em -0.6em $ebony-clay-300;
  display: flex;

}


.bookings-header{
  display: flex;
  justify-content: center;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  // background: $ebony-clay-800;
  // border-bottom: 1px solid antiquewhite;
}

.booking-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  padding: 20px;
  // background: $ebony-clay-700;
  // border-bottom: 1px solid antiquewhite;
}

.btn-reserve{
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 10px;
  width: 100%;
  background: $mardi-gras-300;
  border: none;
  // color: antiquewhite;
  border-radius: 15px;

  &:hover{
    background: $mardi-gras-300;
    color: black;
  }
}

.calendar{
  width: 70%;
}

.reviews-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}


.btn-back{
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 1.5em;
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $deep-cerulean-500;



  &:hover{
    background-color: $deep-cerulean-600;
  }
}

.sticky {
  position: fixed;
  top: 75px;
  right: 5px;
}
