.image-box {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.review-games {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.page-fixing .card_details {
display: flex
}

.review-title .title .subtitle {
display: flex;
flex-direction: row;
}

.page-fixing  {
  .image-box {
    width: 45%;
  }
  .review-title{
    width: 45%;
  }
}

.border-games {
  .card_content{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 20px;
    box-shadow: rgb(121, 3, 255) 0 2px 5px 5px,
  }
}
