<div id='calendar'></div>
<% if bookings.present? %>
  <% bookings.each do |booking| %>
    <%= booking.inspect %><br> # Add this line
  <% end %>
<% else %>
  No bookings to display.
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        <% if @bookings %>
          <% @bookings.each do |booking| %>
            {
              title: '<%= booking.game.title %>',
              start: '<%= booking.start_date %>',
              end: '<%= booking.end_date %>',
              color: 'red'
            },
          <% end %>
        <% end %>
      ]
    });
    calendar.render();
  });
</script>
