<div id='calendar'></div>
<% if @bookings.present? %>
  <% @bookings.each do |booking| %>
    <%= booking.inspect %><br> # Add this line
  <% end %>
<% else %>
  No bookings to display.
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        <% if @bookings %>
          <% @bookings.each do |booking| %>
            {
              title: '<%= booking.game.title %>',
              start: '<%= booking.start_date %>',
              end: '<%= booking.end_date %>',
              color: 'red'
            },
          <% end %>
        <% end %>
      ]
    });
    calendar.render();
  });
</script>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>
