<h1 class= 'reviews-header'>Game Reviews</h1>
<div class='reviews'>
  <% unless @reviews == [] %>
    <% @reviews.each do |review| %>
      <h3>From <%= review.user.first_name %>:</h3>
      <p><%= review.content %> (rating: <%= review.rating %>)</p>
    <% end %>
  <% else %>
    <h3>No reviews have been submitted</h3>
  <% end %>
</div>
