<div class="card">
  <div style="margin-bottom: 20px">
    <div class="card_content">
      <div class="content">
        <div class="front">
          <h3 class="title">Hey</h3>
          <p class="subtitle">Hover me :)</p>
        </div>
        <div class="back">
          <p class="description">
            Cool description so you can read it too my friend
          </p>
        </div>
      </div>
    </div>
  </div>
  <div style="display:flex">
    <button style="margin-right: 1px" class="info_button">info</button>
    <button class="buy_button"><b>Rent</b></button>
  </div>
</div>
