<div class = 'about-page-container'>
  <div class = about-container>
    <div class = 'about-service'>
      <h1>About GameBnB</h1>
      <div class = 'saber'></div>
      <p>Welcome to our video game rental service! Our mission is to provide you with the ultimate gaming experience without breaking the bank.
      We believe that everyone deserves access to the latest and greatest video games, without having to spend a fortune on them.</p>
      <p>At our service, you'll find an extensive selection of games for all major consoles, including the latest releases and all-time classics.
      We make it easy to rent games online, with flexible plans to fit any budget and gaming style.</p>
      <p>Our team of gaming experts is dedicated to helping you find the perfect game for your preferences and skill level.
      With detailed game descriptions, ratings, and reviews, you can make an informed decision about what to play next.</p>
      <p>So whether you're a hardcore gamer or a casual player, we've got you covered.
      Join our community of gaming enthusiasts today and start experiencing the thrill of video games like never before!</p>
    </div>
    <div class = 'about-us'>
      <h1>About Us</h1>
      <div class = 'saber'></div>
      <p>Thiseas, Esteban, and Gabriel are three young developers from different parts of the world, brought together by their shared passion for gaming and technology.</p>
      <p>Thiseas, hailing from the beautiful country of Greece, is the team's front-end developer, responsible for designing and creating the user interface of their web page.</p>
      <p>Esteban, from Argentina, is the team's back-end developer, responsible for building the web page's infrastructure and ensuring it runs smoothly.</p>
      <p>Finally, Gabriel, from Portugal, is the team's full-stack developer, bringing both front-end and back-end skills to the table and ensuring that their web page is well-rounded and efficient.</P>
      <P>Together, they work tirelessly to create the best web page for renting games, incorporating their diverse backgrounds and experiences into every aspect of the site.</p>
      <p>With their combined expertise, Thiseas, Esteban, and Gabriel are poised to take the gaming world by storm.</p>
    </div>
  </div>
</div>
