<div class="home">
<%# <div class="welcome-container">
  <div class="loader"></div>
  <h1 class="main-title">Welcome to GamesBnB</h1>
  <div class="loader"></div>
</div> %>

  <!-- banner-->
  <div class="banner">
    <div class="bg">
      <div class="content">
        <div class="loader"></div>
        <h2>A new Home for<br>Game Lovers</h2>
        <div class="loader"></div>
        <p class="slogan">Play More, Spend Less with Game Rentals. </p>
        <%= link_to 'Join Now',  new_user_registration_path, class: 'btn' %>
      </div>
      <%# <img src="https://i.pinimg.com/1200x/81/b2/a9/81b2a9f518e78535242c1b4a5d41d146.jpg"> %>
    </div>
  </div>
  </div>

  <!--about-->
  <div class="about">
    <div class="contentBx">
      <h2>About Us</h2>
      <div class="loader"></div>
      <p>Thiseas, Esteban, and Gabriel are three young developers from different parts of the world, brought together by their shared passion for gaming and technology.</p>
      <p>Thiseas, hailing from the beautiful country of Greece, is the team's front-end developer, responsible for designing and creating the user interface of their web page.</p>
      <p>Esteban, from Argentina, is the team's back-end developer, responsible for building the web page's infrastructure and ensuring it runs smoothly.</p>
      <p>Finally, Gabriel, from Portugal, is the team's full-stack developer, bringing both front-end and back-end skills to the table and ensuring that their web page is well-rounded and efficient.</P>
      <P>Together, they work tirelessly to create the best web page for renting games, incorporating their diverse backgrounds and experiences into every aspect of the site.</p>
      <p>With their combined expertise, Thiseas, Esteban, and Gabriel are poised to take the gaming world by storm.</p>
    </div>
    <img src="https://cdn.dribbble.com/users/1129235/screenshots/16793661/media/aeb3e50c3b14a2504305fb8f8fa3dd1b.gif" alt="">
  </div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/FFfdyV8gnWk?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
