<div class='home-container'>
  <div>
    <h1 class="main-title">Welcome to GamesBnB</h1>
  </div>

  <!-- banner-->
  <div class="banner">
      <div class="bg">
        <div class="content">
          <h2>A new Home for<br>
          Game Lovers</h2>
          <p>Lorem ipsum dolor sit amet con defnlkngs nklrsngkln mlea. </p>
          <%= link_to 'Join Now',  new_user_registration_path, class: 'btn' %>
        </div>
        <img src="https://i.pinimg.com/1200x/81/b2/a9/81b2a9f518e78535242c1b4a5d41d146.jpg">
      </div>
  </div>

  <!--about-->
  <div class="about">
      <div class="contentBx">
          <h2>About Us</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae quae praesentium nulla ipsam provident illum et, illo ea harum
          ullam error eum veritatis accusantium nam vel ipsa numquam. Ullam, architecto.</p>
      </div>
      <img src="https://preview.redd.it/a-neon-style-background-i-made-for-my-video-game-project-v0-9szdxbj09wj91.png?width=640&crop=smart&auto=webp&s=986ddc74b67930bbe2fc01d0eb84b27a9473a041" alt="">
  </div>
</div>
