<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <link rel="stylesheet" href="app/assets/stylesheets/components/_navbar.scss">
  <title>Document</title>
</head>
<body>
<div>
  <h1 class="main-title">Wellcome to GamesBnB</h1>
</div>
 <%= render "shared/navbar" %>
 <%= render "shared/footer" %>
</body>
</html>
