<%= render 'shared/navbar' %>

<% @games.each do |game| %>
  <p><%= link_to game.title, game_path(game) %>
  Price: <%= game.price %></p>
<% end %>

<p><%= link_to 'Add a new game listing', new_game_path %></p>
