<%= render 'shared/navbar' %>
<link rel="stylesheet" href="app/assets/stylesheets/pages/_index.scss">

<button>
<span></span>
  <span></span>
  <span></span>
  <span></span>
<p> <%=  link_to 'Add a New Game Listing', new_game_path %></p>
</button>

<div style="display:flex">
 <%= render "shared/all_cards" %>
</div>
