.game-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
