body {
  margin: 20px;
}
.main-title {
  text-align: center;
  margin-top: 30px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.card-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.row {
  // display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px ;
}

.row button {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .card-container {
    padding: 20px;
  }
  .row {
    flex-direction: column;
  }
  .row button {
    margin-top: 20px;
    margin-left: 0;
  }
}

#main-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  // justify-content: space-between;
  grid-gap: 10px;
  background: rgba(19, 22, 89, 0);

  /* 3 columns on big screens */
  grid-template-columns: repeat(3, 1fr);

  /* 2 columns between small and big screens */
  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* 1 column on small screens */
  @media only screen and (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  border-radius: 20px;
  flex-basis: calc(33.33% - 2px);
  position: relative;
  // margin: 3px;
}

.card_content {
  height: 100%;
  padding: 20px;
  background-image: linear-gradient(to bottom, #55555540, #00e1ff34);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card_details {
  flex: 1;
  text-align: center;
  position: relative;
}

.card_details .title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  border-bottom: 2px solid $green-vogue-300;
  padding-bottom: 5px;
  padding-top: 10px;
}

.card_details .subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1rem; /* decrease the font size of the description */
}

.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $green-vogue-300;
  padding-top: 5px; /* add some padding to the top of the footer */
}

.card_footer p {
  margin: 0;
  font-size: 18px;
  border: 1px solid $green-vogue-300;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.card_image img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

//// THIS CODE IS ONLY FOR THE BUTTON

.cssbuttons-io-button {
  background-image: linear-gradient(to bottom, #55555540, #00e1ff34);
  text-decoration: none;
  display: flex;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #7742c7;
  position: absolute;
  height: 2.8em;
  padding-right: 3.3em;
  color: rgba(255, 255, 255, 0.637);
}

// LOADER
.loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: $green-vogue-300;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animFw 8s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
