.navbar {
  position: sticky;
  top: 0;
  background-color: #1b2141;
  // overflow: hidden;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  transition: 0.5s;
  z-index: 1000;
}

.navbar a:hover{
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar a:hover{
  background: #1aeeef;
  color: #050e2d;
  box-shadow: 0 0 10px #1aeeef;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar input{
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  border-radius: 5px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.navbar .dropdown-menu {
  background: #0b1846cd;
}
.navbar .dropdown-menu a {
  border: none;
  color: antiquewhite;
}

.navbar .dropdown-menu a:hover {
  background: #ffffff;
  color: black;
}


/* Make a functional navbar*/
.search {
  float: right;
  padding: 14px 16px;
}

.btn-back{
  border-radius: 15px;
  margin-right: 10px;
}

.btn-back:hover {
  border-radius: 15px;
  margin-right: 10px;
}

.search-form{
  margin-right: 10px;
  width: 100%;

  .form-control{
    padding-left: 10px;
  }

  #query{
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40%;
    margin: 0;
    padding: 3px;
    border: none;
    background-color: $mardi-gras-800;

    &:hover{
      background-color: $mardi-gras-300;
    }
  }
}
