<div class="main-categories">
  <div class="sub-category-container">
    <% @categories.each do |category| %>
      <div class="button-container">
        <button data-text="Awesome" class="button-universe">
          <span class="actual-text">&nbsp;<%= link_to category.name, category_path(category)%>&nbsp;</span>
          <span class="hover-text" aria-hidden="true">&nbsp;<%= link_to category.name, category_path(category)%>&nbsp;</span>
        </button>
      </div>
    <% end %>
  </div>
</div>
