<%= render 'shared/navbar' %>

<h1><%= @category.name %></h1>
<% @games.each do |game| %>
  <p><%= link_to game.title, game_path(game) %></p>
<% end %>
<%= link_to 'Back to categories', categories_path %>
